[Desktop Entry]
Type=Application
Version=1.0
Name=element-desktop
Comment=element-desktopstartup script
Exec=/opt/Element/element-desktop
StartupNotify=false
Terminal=false
